@inherits LayoutComponentBase

@using BlazorApp.Services

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Login statud : @(State.IsLogin ? "Login" : "Not login")
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject]
    AppState State { get; set; }
    protected override async Task OnInitializedAsync()
    {
        State.OnUpdateLoginStatus += async () => { await InvokeAsync(StateHasChanged); };

        await Task.CompletedTask;
    }
}