@page "/"

@using BlazorApp.Services

@inject AppState State

<PageTitle>AppState sample</PageTitle>

<button class="btn btn-primary" @onclick="ToggleLoginStatus">Toggle login status</button>

@code {
    private async Task ToggleLoginStatus()
    {
        State.IsLogin = !State.IsLogin;
        await State.UpdateLoginStatus();
    }
}
