@page "/"

@using BlazorApp.Services

@inject AppStateService AppState

<PageTitle>AppStateService sample</PageTitle>

<button class="btn btn-primary" @onclick="ToggleLoginStatus">Toggle login status</button>

@code {
    private async Task ToggleLoginStatus()
    {
        AppState.IsLogin = !AppState.IsLogin;
        await AppState.UpdateLoginStatus();
    }
}
